<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await RenderSectionAsync("Styles")
    @await RenderSectionAsync("InertiaHead", required: false)
</head>
<body>

    @await RenderSectionAsync("Body", required: true)


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
